{% extends 'base.html'%}

{% block title %}{% endblock %}

{% block content%}


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner h-50vh">
      <div class="carousel-item active">
         <img class="d-block w-100" src="https://sngcet.org/public/img/slides/slide1.jpg" alt="First slide" style="height:500px;">
      </div>
      <div class="carousel-caption">
        <h3>Welcome to SMCET</h3>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://tse4.mm.bing.net/th?id=OIP.dV0grARZPlWuAWdYATBZpgHaE8&pid=Api&P=0" alt="Second slide" style="height:500px;">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.targetadmission.com/img/colleges/newc/9479-567481.jpg" alt="Third slide"style="height:500px;">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
 
          <div class="bg-light text-center">
            <h2 style="color:blue; font-family:Georgia;">SM COLLEGE OF ENGINEERING AND TECHNOLOGY<h2>
            </div>
          <div class="">
              <p style="font-family:Gill Sans,sans-serif; font-size:23px;">S M College of Engineering & Technology, one of the prestigious technical institutions in North Malabar, was established in 1999. The engineering college is fully equipped to meet the rising demands for greater facilities in the scenario of higher education.
                With its emphasis on quality education augmented by exposure and training in other individual skills, the institute's focus is on creating individuals who are allround performers and true professionals.
                The institute is located in the historic city of Kozhikode, in the Malabar region of the state and well connected by air, rail and road routes to the rest of the country. SMCEK is proud of its meritorious students, highly qualified faculty, state of art of laboratories, infrastructure and reputed alumni. Over these years SMCEK is providing affordable technical education and remains to be the best choice among the brilliant students in the country.</p>
              </div>

              <div class="d-flex flex-row" style="background-color:silver;">
              <div class="container-xl d-flex flex-row">
                <div class="row">
                    <div class="col-xl-4"> 
                        <div class="dropdown">
                            <button class="btn btn-primary btn-lg dropdown-toggle " 
                                type="button" data-toggle="dropdown">
                                <h1>OUR VISION</h1>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu"style="background:palegreen;">
                                <li style="font-family:Times New Roman;font-weight:bold;" >" A hub of technological brilliance having international acceptance which fosters professionals and innovators with social responsibility. ,,</li>   
                            </ul>
                        </div>
                    </div>
                </div>
              </div>
              <br>
              <div class="container-xl d-flex flex-row">
                <div class="row">
                  <div class="col-xl"> 
                      <div class="dropdown">
                          <button class="btn btn-primary btn-lg dropdown-toggle " 
                              type="button" data-toggle="dropdown">
                              <h1>OUR MISSION</h1>
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu"style="background:palegreen;">
                              <li style="font-family:Times New Roman;font-weight:bold;" >"Create an ambiance for academic brilliance to adress the technological challenges.Encourage scientific and innovative research towards the progress of the nation.promote social responsibilityand professional ethics through value education. ,,</li>   
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <br>
          <div class="container-xl d-flex flex-row">
            <div class="row">
              <div class="col-xl"> 
                  <div class="dropdown">
                      <button class="btn btn-primary btn-lg dropdown-toggle " 
                          type="button" data-toggle="dropdown">
                          <h1>STRATEGY</h1>
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu"style="background:palegreen;">
                          <li style="font-family:Times New Roman;font-weight:bold;" >"Help students to overcome intellectual deficiencies through remedical measures, build confidence and improve competence . Empower the students with profession Learning skills."</li>   
                      </ul>
                  </div>
              </div>
          </div>
        </div>   
        </div>
<br>
<div class="d-flex justify-content-between align-items-center breaking-news bg-white">
  <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;SMCET NEWS</span></div>
  <marquee class="news-scroll" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"><span class="bi bi-bell-fill"></span> <a href="#">International Conference on Emerging Trends in Engineering-Yukthi '23. </a> <span class="bi bi-bell-fill"></span> <a href="#">SMCET Kannur - Egrantz Scholarship - Notice - date of extension</a> <span class="bi bi-bell-fill"></span> <a href="#">SMCET Kannur - MCM Scholarship 2022 -23</a>
  </marquee>
</div>
</div>
<br>
<div class="container mb-5 bg-light">
  <div class="row">
      <div class="col">
      <img src="http://geckkd.ac.in/static/images/about/about.jpg" class="rounded" alt="Responsive image"/>
      </div>
      <div class="col  text-black">
        <h3>SMCET at a glance</h3>
      <p>SMCET was started in the year 1999 with B.Tech programmes in Applied Electronics and Instrumentation Engineering (AE &I), Chemical Engineering (Ch.E) and Mechanical Engineering (ME), Civil Engineering (CE) programme was started in the year 2006, Electronics and Communication Engineering (ECE) programme was started in the year 2012 and Computer Science and Design (CSD) programme started in the year 2022. In addition to B.Tech programmes, the college conducts M.Tech programmes in Signal Processing (AE &I), Energy Systems Analysis and Deign (ME) and Computer Aided Process Design (Ch.E)</p> 
      </div> 
  </div>
</div>
<br>


<div class="bg-image">	
  <h1 class="text-center">ACADEMIC PROGRAMMES</h1>
  <h4 class="text-center">"The courses provides students interdisciplinary and project based knowledge and not limited to classroom education"</h4><br>
  <div class="text-center">
  <div class="card d-inline-flex mx-5 mb-5 " style="width:400px; height:500px;">
    <div class="card-body"style="background-color:black;">
        <h4 class="card title text-center"style="background-color:black;color:orange;">Undergraduate Programmes</h4>
        <h4 class="text center"style="color:white;">Bachelor of Technology (B.Tech)</h4>
        <p class="card-text text-center text-white font-size-16px">Civil Engineering | Mechanical Engineering | Electrical & Electronics Engineering | Computer Science Engineering | Electronics & Communication Engineering </p>
        <div class="img" style="width:200px; height:150px;">
          <img src="http://geckkd.ac.in/static/images/courses/1.jpg">
          </div>
    </div>
</div>
</div>
<br>								 


<div class="row">
    <div class="col-12 mt-5">
<div class="owl-carousel owl-theme"style="background:white;">
    <div class="item mx-3 my-4">
        <div class="card border-6 shadow">
            <img src="http://geckkd.ac.in/static/images/partner/5.png" alt="" class="card-img-top"> 
        </div> 
    </div>
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow">
            <img src="http://geckkd.ac.in/static/images/partner/2.png" alt="" class="card-img-top">   
        </div>
    </div>
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow">
            <img src="http://geckkd.ac.in/static/images/partner/3.png" alt="" class="card-img-top">    
        </div>
    </div>
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow">
            <img src="http://geckkd.ac.in/static/images/partner/1.png" alt="" class="card-img-top">  
        </div>
    </div>
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow">
            <img src="http://geckkd.ac.in/static/images/partner/4.png" alt="" class="card-img-top">
        </div>
    </div>
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/1d/NAAC_LOGO.png" alt="" class="card-img-top">
        </div>
    </div>
</div>
</div>  
</div>
 {% endblock %}