{% extends 'newbase.html'%}

{% block title %}newhome{% endblock %}

{% block content%}

<div class="bg-light text-center">
    <h2 style="color:blue; font-family:Georgia;">SM COLLEGE OF ENGINEERING AND TECHNOLOGY<h2>
    </div>
  <div class="">
      <p style="font-family:Gill Sans,sans-serif; font-size:23px;">S M College of Engineering & Technology, one of the prestigious technical institutions in North Malabar, was established in 2003. The engineering college is fully equipped to meet the rising demands for greater facilities in the scenario of higher education.
        With its emphasis on quality education augmented by exposure and training in other individual skills, the institute's focus is on creating individuals who are allround performers and true professionals.
        The institute is located in the historic city of Kozhikode, in the Malabar region of the state and well connected by air, rail and road routes to the rest of the country. SMCEK is proud of its meritorious students, highly qualified faculty, state of art of laboratories, infrastructure and reputed alumni. Over these years SMCEK is providing affordable technical education and remains to be the best choice among the brilliant students in the country.</p>
      </div><br>

      <div class="container mb-5 bg-light">
        <div class="row">
            <div class="col">
            <img src="http://geckkd.ac.in/static/images/about/about.jpg" class="rounded" alt="Responsive image"/>
            </div>
            <div class="col  text-black">
              <h3>SMCET at a glance</h3>
            <p>SMCET was started in the year 1999 with B.Tech programmes in Applied Electronics and Instrumentation Engineering (AE &I), Chemical Engineering (Ch.E) and Mechanical Engineering (ME), Civil Engineering (CE) programme was started in the year 2006, Electronics and Communication Engineering (ECE) programme was started in the year 2012 and Computer Science and Design (CSD) programme started in the year 2022. In addition to B.Tech programmes, the college conducts M.Tech programmes in Signal Processing (AE &I), Energy Systems Analysis and Deign (ME) and Computer Aided Process Design (Ch.E)</p> 
            </div> 
        </div>
      </div>
      <br>

{% endblock%}